* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 500px;
  height: 200px;
  background-color: blueviolet;
  margin-inline: auto;
  padding: 30px;
  border-radius: 5px;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
}

.list-item a{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
